<div>
  <div>
    <h1>
      List of all recommendations
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new recommendation
    </h2>

    <form action="/insert_recommendation" method="post">
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
      
       <label for="category_id">Category</label>
<select id="category_id" name="category_id">
  <% @categories.each do |c| %>
    <option value="<%= c.id %>"><%= c.name %></option>
  <% end %>
</select>

      </div>

  <div>
    <label for="title_box">Name</label>
    <input type="text" id="title_box" name="query_name">
  </div>

  <div>
    <label for="body_box">Description</label>
    <input type="text" id="body_box" name="query_description">
  </div>

      <button type="submit">Create recommendation</button>
    </form>
  </div>
</div>

  </div>
</div>

<hr>
