

<h1>Explore your friends favorite things</h1>

Want to explore something in particular? 
[add a filter for by category]
[add a search field for a specific friend]



[friend feed - organized by date] 
