

<h1>Explore your friends favorite things</h1>

Want to explore something in particular? 
[add a filter for by category]
[add a search field for a specific friend]

<table border="4">
  <thead>
    <tr>
      <th>Username</th>
      <th>Category</th>
      <th>Favorite Thing</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @feed_items.each do |item| %>
      <tr>
        <td><%= item.fetch(:username) %></td>
        <td><%= item.fetch(:category_name) %></td>
        <td><%= item.fetch(:favorite_thing) %></td>
        <td><%= item.fetch(:description) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

end

[friend feed - organized by date] 
