<h1> Insert name's favorite things </h1>
upload image
current user Bio

<%= link_to 'Add a favorite thing', recommendations_path, class: "nav-link" %>

list of favorite things by lists with descriptions
<h2>TV Shows</h2>

<table border="0">
  <thead>
    <tr>
      <th>TV Show</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>

<h2>Songs</h2>
<h2>Vacations</h2>
<h2>Books</h2>
<h2>Movies</h2>
<h2>Misc</h2>
