<h1> <%= current_user.username %> favorite things </h1>
upload image
current user Bio

<%= link_to 'Add a favorite thing', recommendations_path, class: "nav-link" %>

list of favorite things by lists with descriptions
